.titulo {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.barra-busqueda {
    display: flex;
    /* Centrar horizontamente los elementos */
    justify-content: normal;
    margin-left: 20px;
}

/* Opcional: Agregar margen entre el input y el menú desplegable */
.barra-busqueda .input-group {
    margin-right: 20px;
    margin-left: 15px;
}

.barra-busqueda .mb-3 {
    width: 50%;
}

.texto-busqueda {
    margin: 6px;
    font-size: 16px;
}
.dropdown-busqueda{
    width:200px;
}
.dropdown-busqueda .dropdown-menu {
    background-color: white; /* Cambia el color según tus preferencias */
}

.dropdown-busqueda .btn{
    background-color: #175C75;
    color: white;
    border: none;
    width:180px;

}

.dropdown-busqueda .btn:active,
.dropdown-busqueda .btn:focus,
.dropdown-busqueda .btn:checked {
    background-color: #175C75;
    color: white;
}
.my-boton,
.my-boton:focus,
.my-boton:active,
.my-boton:hover,
.my-boton:visited {
    background-color: #175C75;
    color: white;
    border: none;
}

.btn-primary:active {
    --bs-btn-active-bg: #175c7594;
}
.dropdown-menu a:active {
    --bs-dropdown-link-active-bg: #175c7594;
}