.contenido{
    margin-left: 20px;
    margin-bottom: 10px;
}
/*top, right, bottom y left*/
.fila{
    width: 100%;
    margin: 10px auto;
}
.form-grupo{
    width: 100%;
}
.columna-1{
    display: flex;
    align-items: flex-start;
    flex: 0 0 20%;
}
.columna-2{
    flex: 0 0 40%;
}
.label-right{
    margin-top: 5px;
}
.titulo{
    font-size: 24px;
}
/*Botones*/
.seccion-boton{
    width: 60%;
    display: flex;
    justify-content: flex-end;/*izquierda*/
}
.boton-guardar{
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    background-color: #175C75;
}
.boton-guardar:hover, .boton-guardar:active {
    background-color: #175C75  !important;
}