.leyenda{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 5px;
}
/*fechas de simulacion*/
.grupo-text-fecha{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fecha-contenedor{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}
.texto-label{
    width: 45%;
    margin-top:6px;
}
.fecha{
    width: 40%;
}

/*botones de simulacion*/
.control-buttons{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*texto*/
.texto-tipo-visualizacion{
    width: 30%;
}
/*botones colapso-semana*/
.botones{
    margin: 10px;
}
.boton{
    color: #FFFFFF;
    background-color: #CED4DA;
    border: none;
}

.boton.active, .boton:hover, .boton:active {
    background-color: #175C75;
    color: white;
}

/*controles play stop refresh*/
.icono-boton{
    font-size: 15px;
    color: black;
}

/*leyenda*/
.card-leyenda{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 6px;

}
.titulo-leyenda{
    width: 15%;
    font-size: 15px;
    font-weight: bold;
    height: 100%;
}

/*leyenda iconos*/
.lista-iconos-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    list-style: none;
    padding: 0px;
}
.icono-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 15px;
    margin-top: 16px;
}
.icono-leyenda{
    font-size: 25px;
    color: black;
}
.icono-leyenda.bloqueo{
    color:red;
}
.icono-leyenda.ruta{
    color:green;
}
