.nav-tabs .nav-link {
    color: black;
}
.Simulacion{
    position: relative;
}
.contenedorCanvas{
    position: absolute;
    top: 0;
    left: 0;
}

.elemento{
    position: relative;
    top: 65vh;
    left: 0;
}
.table-responsive{
    background-color: #DEE2E6;
}
.custom-button {
    align-items: center;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #CED4DA;
}
.custom-button:hover, .custom-button:active {
    background-color: #175C75 !important;
}
.custom-button.active {
    background-color: #175C75;
    color: white;
}
.custom-button.success {
    color: black;
}

.custom-button.danger {
    color: #dc3545;
}
.custom-button.warning {
    color: black;
}
.controles{
    align-items: center;
    margin: 5px;
    height: 10px;
    width: 10px;
}
.botones{
    margin: 15px;
}