.App {
    text-align: center;
    height: 100%;
}

/*BARRA DE NAVEGACION*/
.barra-navegacion {
    background-color: #175C75;
    display: flex;
    flex-direction: row;
}

/*Logotipo*/
.logotipo {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagen-logo {

    width: 30px;
    height: 30px;
}

.texto-logo {

    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 5px;
}

/*link-navegacion*/
.pestanas-navegacion {
}

.pestana-link.nav-link {
    color: white;
}

.pestana-link.nav-link.selected,
.pestana-link.nav-link:hover {
    font-weight: bold;
    color: #FFFFFF;
}

.pestana-link. {
    font-weight: bold;
    color: #FFFFFF;
}

/*perfil*/
.contenedor-perfil {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: auto;
}

.imagen-perfil {
    margin-right: 3px;
    width: 45px;
    height: 45px;
}

.texto-persona {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.texto-persona .nombre {
    font-weight: bold;
}

.texto-persona .rol {
    font-size: 12px;
}

/*pantallas*/
.contenido-pantallas {
    display: flex;
    align-items: center;
    justify-content: center;
}



