.camiones{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 5px;
    height: 400px;
}
/*barra de busqueda*/
.barra-busqueda {
    display: flex;
    align-items: start;
    flex-direction: column;
}
.grupo-texto-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;
}
.texto-busqueda{
    width: 200px;
}

.mb-3{
    margin-top: 15px;
    width: 250px;
}
/*tabla*/
.tabla{
    font-size: 12px;
}

/*tabla-boton*/
.boton-ver,
.boton-ver:focus,
.boton-ver:active,
.boton-ver:hover,
.boton-ver:visited {
    background-color: #175C75;
    color: white;
    border: none;
    font-size: 12px;
}
.btn-primary:active {
    --bs-btn-active-bg: #175c7594;
}
.btn-primary:disabled {
    --bs-btn-disabled-bg: #175C75 !important;
}
.camion-en-mantenimiento {
    color: red; /* o cualquier otro estilo que desees aplicar */
}
.nota{
    font-size: 12px;
    color: red;
    margin: 0px;
}
.nota-reporte{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}
/*reporte final*/
.link-reporte{
    text-align: start;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color: red;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


