.contenedor-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 30px;
    margin-bottom: 20px;
}
.grupo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: center;
    margin-left: 30px;
    width: 1000px;
}
.icono{
    margin-right: 10px;
    font-size: 20px
}
